body{
    background-image: url("../images/background.jpg");
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#igen{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
#linkek{
    margin: auto;
    width: 300px;
    text-align: center;
}
h1,h2,h3 {
    text-decoration: underline;
}
#container{
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    margin: 0px auto;
    box-shadow: 10px 10px 5px grey;
}
input:hover{
    background-color: lightcyan;
}
input{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;   
    width: 80px; 
}